<template>
  
  <div class="navbar bg-dark d-flex justify-content-between align-items-center">

    <h5 class="text-white mx-auto">Trivia questions</h5>
  
  </div>

  <div class="container-fluid">

    <div  v-if="message" class="mt-3 alert alert-warning alert-dismissible fade show w-25" role="alert">
      <strong>Holy guacamole!</strong> {{ message }}
    </div>
    <div class="card w-50 mx-auto mt-3 shadow">
      
      <div :class="['card-header text-bold text-light text-uppercase d-flex justify-content-between ',difficulty=='easy'? 'bg-success':difficulty=='medium'? 'bg-warning':'bg-danger']">
        <h5> {{ category }}</h5>
        <h6> {{ difficulty }}</h6>
      </div>
      <div v-if="questions.length===0" class="mt-4 d-flex justify-content-center align-items-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    
      
      <div class="card-body">
             
        <div v-for="question in questions" :key="question.id" class="p-2 text-left">
          <p>
            {{ question.question}}
          </p>

          <ul class="list-group w-50 mt-2">
        
            <button v-for="choice in  choices" :key="choice"
              @click="ToggleActiveClass($event)"
              :class="[
                'shadow list-group-item  d-flex gap-3 align-items-start list-group-item-action mt-2',
                answer != null ? 'disabled' : ''
                
                ]">
              <span>{{choice}}</span>
            </button>
          </ul>

        </div>

        </div>
        
        <div
          ref="answer"
          
          data-toggle="tooltip" data-placement="top" title="Double click to clear your choice"
        
          @dblclick="ClearAnswer"
        
          v-show="answer" 
          :class="[ 'card text-light m-2 w-50 p-2',
              isCorrect ? 'bg-success' : 'bg-danger'
            ]"  
            >
              
          <span id="choice">{{ answer }}</span>
        
        </div>
       
    
    </div>
      
   
  
  </div>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {
      url: "http://127.0.0.1:8000/api",
      message: "",
      isActive: false,
      answer: null,
      questions:[],
      choices :[],
      correct: null,
      isCorrect: false,
      difficulty: null,
      category: null
    }
  },

  methods:{
    ToggleActiveClass(event){
      var element = event.target
      if(this.correct !=null){

        element.classList.contains('active') ? element.classList.remove('active') : element.classList.add('active')
        
        this.answer = element.childNodes[0].innerHTML       
        this.answer === this.correct ? this.isCorrect=true : this.isCorrect=false
      }
      else{
          this.message = "Retrying is not allowed"
      }

    },

    ClearAnswer(){
      this.answer = null
    },

  async getData() {
    const res = await fetch(this.url)
    const finalRes = await res.json()
    this.questions = finalRes.data,
    finalRes.data.map((question)=>{
      this.choices = question.incorrect_answers
      this.difficulty = question.difficulty
      this.category = question.category
      this.choices.push(question.correct_answer)
      delete question.incorrect_answers
      this.correct = question.correct_answer

    });
    },

},
  mounted(){
    this.getData()
  }

}


</script>